html {
    scroll-behavior: smooth;
}

/* Compensa a altura do header fixo ao clicar nos links âncora */
/* O header tem uma logo com h-40 (10rem/160px) + py-1 (0.5rem/8px) */
#sobre,
#pilares,
#atendimento,
#localizacao,
#servicos { /* Adicionei #servicos também, embora não esteja no menu */
    scroll-margin-top: 10.5rem; /* 168px */
}


/* Estilos para a animação de fade-in */
.fade-in-section {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Adiciona a cor laranja ao link do menu ativo */
nav a.active {
    color: #F59E0B; /* Cor amber-500 do Tailwind */
}