html {
    scroll-behavior: smooth;
}

/* Estilos para a animação de fade-in */
.fade-in-section {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}

/* cor laranja ao link do menu ativo */
nav a.active {
    color: #F59E0B; 
}

